In [56]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import datetime
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt

In [ ]:
#Reading data

In [66]:
df= pd.read_csv(r"D:\Kaggle\seattle-weather.csv")

In [67]:
df.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [ ]:
#Get all the weather name

In [74]:
print(df.weather.unique())

['drizzle' 'rain' 'sun' 'snow' 'fog']

In [73]:
weather_counts = df['weather'].value_counts()

print("Unique Weather Categories and their Counts:")
print(weather_counts)

Unique Weather Categories and their Counts:
weather
rain       641
sun        640
fog        101
drizzle     53
snow        26
Name: count, dtype: int64

In [ ]:
#Get the weather name to numerical value to train model effeciently

In [39]:
mapping = {'drizzle': 1, 'rain': 2, 'sun': 3, 'snow': 4, 'fog': 5}
df['weather'] = df['weather'].replace(mapping)

In [40]:
print(df.weather.unique())

[1 2 3 4 5]

In [33]:
df.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [ ]:
#Dropping date to detect weather effeciently

In [41]:
df.drop('date', axis=1, inplace=True)

In [42]:
df.head()

   precipitation  temp_max  temp_min  wind  weather
0            0.0      12.8       5.0   4.7        1
1           10.9      10.6       2.8   4.5        2
2            0.8      11.7       7.2   2.3        2
3           20.3      12.2       5.6   4.7        2
4            1.3       8.9       2.8   6.1        2

In [ ]:
#Started creating model

In [46]:
X = df.drop('weather', axis=1)
y = df['weather']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [48]:
model = RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier()

In [49]:
y_pred = model.predict(X_test)

In [ ]:
#Get accuracy

In [50]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8122866894197952

In [51]:
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

In [ ]:
#Get train and test accuracy

In [52]:
train_accuracy = accuracy_score(y_train, y_train_pred)
print("Training Accuracy:", train_accuracy)
test_accuracy = accuracy_score(y_test, y_test_pred)
print("Test Accuracy:", test_accuracy)

Training Accuracy: 0.997431506849315
Test Accuracy: 0.8122866894197952

In [ ]:
#Get the number of predicted weather by model

In [75]:
# Mapping of weather labels
weather_labels = {
    1: 'Drizzle',
    2: 'Rain',
    3: 'Sun',
    4: 'Snow',
    5: 'Fog'
}


train_predictions_df['Predicted_Weather'] = train_predictions_df['Predicted'].map(weather_labels)


test_predictions_df['Predicted_Weather'] = test_predictions_df['Predicted'].map(weather_labels)


train_weather_counts = train_predictions_df['Predicted_Weather'].value_counts()

print("Predicted Weather Class Counts in Training Data:")
print(train_weather_counts)


test_weather_counts = test_predictions_df['Predicted_Weather'].value_counts()


print("Predicted Weather Class Counts in Test Data:")
print(test_weather_counts)

Predicted Weather Class Counts in Training Data:
Predicted_Weather
Rain       522
Sun        511
Fog         75
Drizzle     42
Snow        18
Name: count, dtype: int64
Predicted Weather Class Counts in Test Data:
Predicted_Weather
Sun        159
Rain       120
Fog          6
Drizzle      4
Snow         4
Name: count, dtype: int64